body {
  font-family: 'Open Sans', sans-serif;
  background-color: #002d33;
}

.spaced-icon {
  margin-left: 50px;
}

.navbar {
  background-color: #002d33;
}

.pradinis {
  color: #c7f0f6;
  text-align: center;
  margin-top: 75px;
}

#kasmes {
  font-weight: 750;
  font-style: italic;
  font-size: 50px;
  color: white;
}

.head-para {
  font-size: 30px;
  width: 75%;
  margin: 0 auto;
}

#lt {
  color: white;
  font-style: italic;
}

#atspindys {
  color: white;
  font-weight: 900;
  width: 75%;
  padding-top: 20px;
  margin: 0 auto;
  font-size: 55px;
}

.paslaugu-meniu {
  text-align: center;
  color: white;
  margin-top: 125px;
  background-color: #00bcd4;
}

#paslaugos-izanga {
  padding-top: 50px;
  padding-bottom: 50px;
}
