.navbar {
  z-index: 999;
}

#home > h1 {
  color: #011627;
}

#services {
  color: #fdfffc;
}

#contacts {
  color: #fdfffc;
}

.card {
  color: #011627;
  background-color: #fdfffc;
}

.card-title {
  text-align: center;
}

#service-heading {
  margin-top: 75px;
  margin-bottom: 125px;
}

.card {
  margin-bottom: 50px;
}

.contact-info {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.contact-type {
  border-right: 1px solid #011627;
  padding-right: 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 576px) {
  .contacts-form {
    border-right: 1px solid #011627;
  }
}

@media only screen and (max-width: 576px) {
  .contacts-form {
    border-bottom: 1px solid #011627;
  }
  .contact-submit {
    margin-bottom: 15px;
  }
  .contact-info {
    margin-top: 25px;
  }
}

.kontaktai {
  margin-top: 75px;
  margin-bottom: 125px;
}

.contact-submit {
  background-color: #ff9f1c;
  border-color: #f99000;
  color: #fdfffc;
}

.contact-submit:hover {
  background-color: #f99000;
  border-color: #ff9f1c;
  color: #fdfffc;
}

.contact-submit:not(:disabled):not(.disabled):active {
  background-color: #f99000;
  border-color: #ff9f1c;
  color: #fdfffc;
}

.contact-submit:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 159, 28, 0.5);
}

.contact-submit:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 159, 28, 0.5);
}

.contact-link {
  color: #ff9f1c;
}

.contact-link:hover {
  color: #f99000;
}

.contact-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 159, 28, 0.5);
  border-color: #ff9f1c;
}

.fp-slidesNav {
  text-align: center;
}
